 @import url(../fonts/fonts.css);
 body {
     background-color: #E5E5E5;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 p {
     margin: 0;
     padding: 0;
     padding-right: 86px;
 }
.conteiner {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    width: 546px;
    height: 430px;
    border-radius: 2px;
    padding: 32px 43px;
}

.top p {
    margin: 0;
    padding-bottom: 16px;
    height: 16px;
    color: #3C4F72;
}

h1 {
    margin:0;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 32px;
    line-height: 36px;
}

hr {
    color: #E0E0E0;
    margin: 0px;
}

.down {
    padding-top: 32px;
}

.line1 , .line2 , .line3 {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 36px;
    min-height: 36px;
}

.bolt_text {
    font-size: 24px;
    padding: 0px 42px 0px 0px;
    width: 35%;
    text-align: right;
}

.down p {
    width: calc(65% - 42px);
}