 @import url(../fonts/fonts.css);
 body {
     background-color: #E5E5E5;;
 }
 p {
     margin: 0;
     padding: 0;
 }
.conteiner {
    background: #FFFFFF;
    font-family: 'Lato', sans-serif;
    width: 546px;
    height: 430px;
    border-radius: 2px;
    border: 1px solid #E5E5E5; 
    
}

.header , .footer{
    margin: 32px 0px 0px 40px ;
}

.header p {
    margin: 0;
    padding-bottom: 16px;
    height: 16px;
    color: #3C4F72;
}

h2 {
    margin:0;
    font-size: 48px;
    font-weight: 400;
    padding-bottom: 32px;
    line-height: 36px;
}

hr {
    margin: 0px 43px 0px 3px;
    color: #E0E0E0;
}

.footer {
    margin: 32px;
    display: flex;
    flex-direction: column;
}

.text1 , .text2 , .text3 {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 36px;
    min-height: 36px;
}

span {
    font-size: 24px;
    padding: 0px 42px 0px 0px;
    font-weight: bold;
    width: 35%;
    text-align: right;
}

.footer p {
    width: calc(65% - 42px);
}